.row.form {
    width: 85%;
    margin: 0 auto;
    margin-top: 35px;
}
/* .form-group.generatePass {
    width: 100%;
}
.form-group.generatePass label {
    display: block;
}
input#password {
    width: 50%;
    float: left;
    overflow: hidden;
    margin-right: 10px;
}
button.btn.btn-primary.mb-2 {
    overflow: hidden;
    width: 45%;
    float: right;
} */
button#generatepass {
    margin-top: 30px;
    padding: 10px 70px;
}